ul li.checked {
    background: #998181;
    color: #eee7e7;
    text-decoration: line-through;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    color: rgb(240, 119, 75);
}

#deleteAll {
    position: absolute;
    right: 5px;
    top: 6px;
}

#btnAdd {
    left: 5px;
    background-color: aquamarine;
}


body {
    width: 100%;
    height: 100%;
    background-image: url(image.jpg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.header {
    margin-top: 40px;
    padding: 30px 20px;
    color: rgb(231, 0, 0);
    text-align: center;
  }